@use "vars" as *;

#page-list_0116 {
	@include mq(tb) {
		padding-top: 58px;
	}
}

.mv-kiseki {
	@include flex(0, start);
	background: white;
	@include mq(tb) {
		flex-direction: column;
	}
	&__slider {
		width: 62.5%;
		max-width: 900px;
		@include mq(tb) {
			width: 100%;
			max-width: 100%;
		}
		&-item {
			aspect-ratio: 905 / 450;
			min-height: 100%;
			@include mq(xl) {
				aspect-ratio: 700 / 450;
			}
			@include mq(sm) {
				aspect-ratio: 39 / 30;
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.slick {
			&-prev,
			&-next {
				width: 22px;
				height: 22px;
				z-index: 1;
				transform: translateY(-50%) rotate(45deg);
				@include mq {
					width: 18px;
					height: 18px;
					top: 56.1%;
				}
				&::before {
					display: none;
				}
			}
			&-prev {
				left: 46px;
				border-bottom: 5px solid #71430F;
				border-left: 5px solid #71430F;
				@include mq {
					border-bottom: 3px solid #71430F;
					border-left: 3px solid #71430F;
					left: 34px;
				}
			}
			&-next {
				right: 46px;
				border-top: 5px solid #71430F;
				border-right: 5px solid #71430F;
				@include mq {
					border-top: 3px solid #71430F;
					border-right: 3px solid #71430F;
					right: 34px;
				}
			}
		}
	}
	&__ct {
		width: 37.5%;
		padding: 30px 70px 20px;
		@include mq(xl) {
			padding: 30px 15px
		}
		@include mq(tb) {
			width: 100%;
			max-width: 390px;
			margin: 0 auto;
			padding: 40px 30px;
		}
	}
	&__ttl {
		@include fts(22.5, 45);
		line-height: 1.3;
		font-weight: bold;
		margin-bottom: 60px;
		letter-spacing: 0.19em;
		@include mq(tb){
			margin-bottom: 30px;
		}
		@include mq {
			@include font-size(20);
			letter-spacing: 0.15em;
			margin-bottom: 55px;
		}
	}
	&__info {
		@include fts(13.5, 22.5);
		font-weight: 500;
		letter-spacing: 0.12em;
		margin-bottom: 25px;
		@include mq {
			@include fts(13, 22);
			margin-bottom: 63px;
		}
		dl {
			@include mq(md-min) {
				@include flex;
			}
			@include mq {
				> * {
					display: inline;
				}
			}
			dt {
				@include mq(md-min) {
					white-space: nowrap;
				}
			}
		}
	}
	&__note {
		@include fts(9, 22.5);
		font-weight: 500;
		letter-spacing: 0.08em;
		margin-bottom: 18px;
		@include mq {
			@include fts(10, 15);
			margin-bottom: 24px;
		}
	}
	&__detail {
		@include flex(between,end);
		gap: 15px;
		margin-bottom: 34px;
		max-width: 342px;
		@include mq {
			margin-bottom: 28px;
		}
	}
	&__price {
		@include fts(22.5, 35);
		font-weight: bold;
		letter-spacing: 0.05em;
		@include mq {
			@include font-size(20);
		}
		small {
			font-size: calc(12 / 30 * 100%);
			letter-spacing: 0.05em;
			@include mq {
				font-size: calc(10 / 25 * 100%);
			}
		}
	}
	&__stock {
		@include font-size(12.75);
		line-height: 1.7;
		font-weight: bold;
		letter-spacing: 0.05em;
		@include mq {
			@include font-size(12);
			line-height: 1.5;
		}
	}
	&__btn {
		max-width: 350px;
		height: 60px;
		@include font-size(15);
		@include mq(xl-min) {
			margin: 0 0 0 -10px;
		}
	}
}

.sec-kiseki_01 {
	padding: 100px 0 35px;
	@include mq {
		padding: 60px 0 35px;
	}
}
.kiseki_01 {
	&-ttl {
		@include fts(30, 60);
		letter-spacing: 0.19em;
		font-weight: bold;
		text-align: center;
		margin-bottom: 105px;
		@include mq(xl) {
			@include font-size(23);
		}
		@include mq {
			@include fts(16, 26);
			letter-spacing: 0.14em;
			margin-bottom: 40px;
		}
		&:last-of-type {
			margin-bottom: 140px;
			@include mq {
				margin-bottom: 40px;
			}
		}
	}
	&-detail {
		max-width: 600px;
		margin: 0 auto 106px;
		@include mq {
			padding: 0;
			margin: 0 auto 40px;
		}
		img {
			display: block;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 79px;
				@include mq {
					margin-bottom: 30px;
				}
			}
			&:not(:first-child) {
				margin-top: 110px;
				@include mq {
					margin-top: 40px;
				}
			}
		}
		p {
			letter-spacing: 0.12em;
			@include mq {
				letter-spacing: 0.08em;
			}
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		h2 {
			@include fts(22.5, 45);
			font-weight: bold;
			letter-spacing: 0.12em;
			@include mq {
				@include fts(20, 28);
				letter-spacing: 0.08em;
			}
			&:not(:last-child) {
				margin-bottom: 25px;
				@include mq {
					margin-bottom: 15px;
				}
			}
		}
	}
}


.sec-featured {
	padding: 0 0 150px;
	@include mq(xl) {
		padding: 0 0 100px;
	}
	@include mq {
		padding: 106px 20px 100px;
	}
	@include mq(xs) {
		padding: 106px 0 100px;
	}
	.inner{
		max-width: 819px
	}
	.c-ttl__04 {
		@include mq {
			@include fts(22, 30);
			letter-spacing: 0.14em;
		}
	}
}
.featured {
	&-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 23px;
		@include fts(13.5, 22.5);
		font-weight: bold;
		@include mq {
			grid-template-columns: repeat(2, 1fr);
			@include fts(13, 22);
			gap: 30px 10px;
		}
		&__link {
			display: block;
			color: #71430F;
			@include hover {
				opacity: 1;
				.featured-list {
					&__img {
						img {
							transform: scale(1.05);
						}
					}
				}
			}
		}
		&__img {
			width: 100%;
			aspect-ratio: 1;
			margin-bottom: 16px;
			border-radius: 20px;
			overflow: hidden;
			@include mq {
				border-radius: 10px;
				margin-bottom: 11px;
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				transition: .3s transform ease;
			}
		}
		&__ttl {
			margin-bottom: 7px;
			letter-spacing: 0.14em;
			@include mq {
				min-height: 66px;
				margin-bottom: 9px;
			}
		}
		&__price {
			letter-spacing: 0.08em;
			@include mq {
				@include fts(14, 20);
			}
		}
	}
}

.sec-guide {
	padding: 0 0 159px;
	.inner{
		max-width: 820px;
	}
	@include mq {
		padding: 0 20px;
	}
	@include mq(xs) {
		padding: 0;
	}
	.news-other {
		@include mq {
			@include mq(xs-min) {
				margin: 0 -5px;
			}
		}
	}
	.detail-btns {
		width: 100%;
		.c-btn__03{
			@include mq(md-min){
				max-width: 290px;
				height: 75px;
				@include font-size(22.5);
			}
		}
	}
}
.guide {
	&-box {
		border: 3px solid #0C6E37;
		background: #E8F4E7;
		color: #0C6E37;
		margin-bottom: 148px;
		@include mq {
			border-width: 1px;
			margin-bottom: 100px;
		}
		&__item {
			&:not(:last-child) {
				border-bottom: 3px solid #0C6E37;
				@include mq {
					border-bottom-width: 1px;
				}
			}
		}
		&__flex {
			@include flex(start, start);
			gap: 8px;
		}
		&__q {
			position: relative;
			letter-spacing: 0.18em;
			padding: 23px 70px 22px 35px;
			cursor: pointer;
			transition: .3s opacity ease;
			@include mq {
				@include fts(12, 17.1);
				padding: 20px 42px 20px 19px;
			}
			@include hover {
				opacity: 0.7;
			}
			&.is-active {
				.guide-box__icon {
					&::after {
						opacity: 1;
					}
				}
			}
		}
		&__icon {
			position: absolute;
			top: calc(50% - 12px);
			right: 35px;
			width: 24px;
			height: 24px;
			@include mq {
				width: 15px;
				height: 15px;
				top: calc(50% - 8px);
				right: 19px;
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			&::before {
				background: url(../img/common/ico-plus.svg) no-repeat center / contain;
			}
			&::after {
				background: url(../img/common/ico-minus.svg) no-repeat center / contain;
				opacity: 0;
				transition: .3s opacity ease;
			}
		}
		&__a {
			letter-spacing: 0.05em;
			display: none;
			padding: 23px 47px 21px;
			@include mq {
				@include fts(10, 14);
				padding: 10px 20px 20px;
			}
			a{
				color: #0C6E37
			}
		}
	}
	&-ttl {
		@include mq {
			@include fts(21, 32);
			letter-spacing: 0.12em;
		}
	}
	&-subTtl {
		@include fts(16.5, 19.5);
		font-weight: bold;
		color: #0C6E37;
		letter-spacing: 0.19em;
		margin-bottom: 12px;
		@include mq {
			@include fts(14, 25.6);
			letter-spacing: 0.14em;
			margin-bottom: -1px;
		}
	}
	&-note {
		@include fts(15, 19.5);
		color: #0C6E37;
		letter-spacing: 0.18em;
		margin-bottom: 112px;
		@include mq {
			@include fts(10, 14);
			letter-spacing: 0.05em;
			margin-bottom: 100px;
		}
	}
}